html, body{
    margin: 0;
    padding: 0;
    /*border: 2px solid red;*/
    height: 100%;
}

/*body{*/
/*    border: 2px solid green;*/
/*    height: 95%;*/
/*}*/

footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 15px;
    background: #FFD700;
    border: 2px solid   black;
}
