/*position absolute solo funcionara deacuerdo al work flow si el tag o el bloque anterior no tiene ninguna position entonces la position absolute se situara en el elemto o tag que esta des pues de el en este caso se salta el div y el body y head porque ninguna de esas tres tiene ninuga posicion determinada y como ningua tiene una posicion determinada se queda en el area de html fuera de todo pero si le ponen una posicion a los bloques anterior o al tag entonces que da justo ahi donde la posicion fue determinada */

body{
    width: 50%;
    border: 2px solid blue;
    /*position: relative;*/
}

div{
    border: 2px solid   red;
}

html{
    border: 3px solid green;
}

.hulk{
    top: 100px;
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #3A5FCD;
    color: white;
    text-align: center;
    font-weight: bold;
}

.thor{
    top: 50px;
    right: 50px;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #9d97c9;
    color: #54ceff;
    text-align: center;
    font-weight: bold;
}
