body{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
p{
    margin: 20px;
}
/*with the typography it should be 2 (::) instead of one also call pseudo element  */
p::first-letter{
    font-family: "Arial Black";
    font-size: 40px;
    line-height: .5;
}

p::first-line{
    color: red;
    font-weight: 900;
}
