*{
    border: 2px dashed red;
}

div{
    height: 50px;
    border-radius: 30px;
    border: 1px solid   black;
    display: inline-block;
    width: 50px;
}

.uno{
    background-color: green;
}
.dos{
    background-color: #FFD700;
}
.tres{
    background-color: purple;
}
.cuatro{
    background-color: deepskyblue;
}
.cinco{
    background-color: firebrick;
}
