.customers-card-wrapper{
    flex-direction: column;
    align-items: center;

}

.customer-card:first-child{
    margin-bottom: 3rem;
}

.main-part{
    flex-direction: column;
}

.footer-list{
    display: flex;
}

.footer-list-item{
    margin-right: 3rem;
}