html, body{
    padding: 0;
    /*margin: auto 0;*/

}

div{
    border: 3px solid black;
    width: 150px;
    height: 150px;
    background: #0266C8;
    margin: 0 auto;
}

.nin{
    position: relative;
    background: #ff6805;
    left: 100px;
    bottom: 15px;
}
