div{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    background-color: lightgrey;
    text-align: center;
    margin: 1rem;
}

body{
    border: 2px solid red;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    height: 800px;
}
