html,body, div{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: darkgray;
}

div{
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url("Landscape-fotoarte.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed ;

}

p{
    font-size: 10rem;
    color: #9d97c9;
    text-align: end;
}
