div{
    height: 150px;
    width: 150px;
    border: 2px dashed green;
    background-color: #FFD700;
    margin: 1rem;
}

body{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
    border: 1px solid   black;
    height: 700px;
}
