div {
    width: 200px;
    height: 200px;
    border: 15px solid darkgreen;
    background-image: url("../01-essential/pareja.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.kl {
    box-sizing: border-box;
/*    /*    box-sizing  most of the time is use with the put the width  measurement  total in the padding, border, margin meaning if you put 200px width is the going to the 200px including the padding, border and margin. */
}

img {
    border: 20px dashed darkorchid;
}
.parejados{
    border: 20px groove darkorchid;
}
.parejatres {
    border: 20px solid darkorchid;
}
.parejauno {
    border: 20px dotted darkorchid;
}
 /*different type of font and size*/
 html {
     font-size: 25px;
     font-family: "Comic Sans MS";
 }
 h1 {
     text-align: right;
     color: blue;
     border: 5px groove darkblue;
    width: 300px;
     height: 150px;
     height: auto;
 }


