body{
    width: 800px;
}

.h01{
    width: 20%;
}

.h02{
    width: 30%;
}

.h03{
    width: 30%;
}

.h04{
    width: 20%;
}

.h05{
    width: 100%;
}

.h06{
    width: 70%;
}

.h07{
    width: 30%;
}
