.h01{
    background-color: #29627e;
    color: white;
}

.h02{
    background-color: #b3d4fc;
    color: white;
}

.h03{
    background-color: #0266C8;
    color: white;
}

.h04{
    background-color: coral;
    color: white;
}

.h05{
    background-color: #999999;
    color: white;
}

.h06{
    background-color: #16A2D7;
    color: white;
}

.h07{
    background-color: #651456;
    color: white;
}
