div{
    /*in order for stretch to worked you can not have a height set */
    /*height: 150px;*/
    width: 150px;
    border: 2px dashed green;
    background-color: grey;
    margin: 1rem;
}

body{
    display: flex;
   flex-flow: row  wrap;
    justify-content: center;
    align-content: stretch;
    border: 1px solid   black;
    height: 700px;
}
