div {
    width: 200px;
    height: 200px;
    border: 2px solid darkgreen;
    border-radius: 75%;
    background-image: url("../01-essential/pareja.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

img {
    border: 20px dashed darkorchid;
    border-radius: 75%;
}.parejados{
    border: 20px groove darkorchid;
}.parejatres {
    border: 20px solid darkorchid;
}.parejauno {
    border: 20px dotted darkorchid;
}
 /*different type of font and size*/
 html {
     font-size: 25px;
     font-family: "Comic Sans MS";
 }
 h1 {
     text-align: left;
     color: blue;
     border: 5px groove darkblue;
    width: 200px;
     height: 150px;
     height: auto;
 }
