html, body{
    padding: 0;
    margin: 0;
    border: 0;
}

img{
    height: 250px;
    width: 190px;
    float: right;
    border: 1px solid black;

}

section{
    border: 4px solid black;
    overflow: auto;
}


p{
    margin-left: 5px;
}

